@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #1b0f46; 
  
  /* Kita ganti hitam pekat (#171717) jadi Slate-900 (#0f172a) biar elegan */
  --foreground: #0f172a; 
}

/* Jika nanti browser diset Dark Mode, otomatis berubah ke sini */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #8848ff;
  }
}

/* Settingan Body Utama */
html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

